alabaster==0.7.10
Babel==2.5.3
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
docutils==0.14
google-alerts==0.1.8
idna==2.6
imagesize==1.0.0
Jinja2==2.10
MarkupSafe==1.0
packaging==17.1
pkginfo==1.4.2
Pygments==2.2.0
pyparsing==2.2.0
pytz==2018.4
requests==2.20.1
requests-toolbelt==0.8.0
selenium==3.12.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.4
sphinx-rtd-theme==0.3.0
sphinxcontrib-websupport==1.0.1
tqdm==4.23.1
twine==1.11.0
urllib3==1.22
